@charset "UTF-8";
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: Intro-Regular;
  src: url(../fonts/Intro-Regular.ttf);
}

@font-face {
  font-family: Intro-Book;
  src: url(../fonts/Intro-Book.ttf);
}

@font-face {
  font-family: Intro-Bold;
  src: url(../fonts/Intro-Bold.ttf);
}

@font-face {
  font-family: MarcelleScript;
  src: url(../fonts/MarcelleScript.ttf);
}

@font-face {
  font-family: rub;
  src: url(../fonts/RUBSN.otf);
}

html * {
  margin: 0;
}

body {
  font-size: 10pt;
  color: #333333;
}

.container {
  max-width: 1000px;
  margin: auto;
}

a {
  color: #333333;
  text-decoration: none;
}

.rub {
  font-family: rub, Arial, Helvetica, sans-serif;
  display: inline-block !important;
}

.rub:before {
  content: 'Ы';
}

.headder-wrapper {
  position: relative;
  box-shadow: 0px 1px 5px 0px #cccccc;
}

header {
  padding: 25px 0;
}

nav {
  display: inline-block;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 10px;
  font-family: Intro-Regular,Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

nav a:first-child {
  padding-left: 0px;
}

nav a:last-child {
  padding-right: 0px;
}

.logo {
  display: inline-block;
  width: 235px;
  height: 37px;
  margin: 0 0 0 7.75%;
  background: url(/img/header-logo.png) no-repeat 50% 100%;
  vertical-align: middle;
}

.search-user-cart-block {
  display: inline-block;
  float: right;
}

.search-user-cart-block a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 40px;
  font-family: OpenSans-Bold,Arial, Helvetica, sans-serif;
}

.search-user-cart-block .search {
  display: inline-block;
  background: url(/img/header-search.png) no-repeat 50%;
}

.search-user-cart-block .user {
  display: inline-block;
  background: url(/img/header-user.png) no-repeat 50%;
}

.search-user-cart-block .cart {
  display: inline-block;
  width: auto;
  background: url(/img/header-cart.png) no-repeat 20px 50%;
  padding-left: 40px;
  text-decoration: none;
}

.search-user-cart-block .cart .amount, .search-user-cart-block .cart .total-price {
  font-size: 1.2em;
}

.search-user-cart-block .cart .amount {
  margin: 0 10px;
  padding: 0 15px;
  line-height: 40px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.search-user-cart-block .cart .total-price {
  padding-right: 15px;
}

#catalog-dropdown {
  cursor: pointer;
}

.catalog-dropdown-wrapper {
  display: none;
  position: absolute;
  box-shadow: 0px 1px 5px 0px #cccccc;
  z-index: 100;
  background: white;
  width: 100%;
}

.catalog-dropdown {
  overflow: hidden;
}

.catalog-dropdown a {
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
  width: 240px;
  height: 210px;
  display: inline-block;
  text-align: center;
  line-height: 350px;
  vertical-align: bottom;
  font-size: 1.1em;
  box-shadow: 5px 0px 5px -3px #cccccc;
  margin-top: -5px;
}

.catalog-dropdown .smarts {
  background: url(/img/katalog-dropdown-smarts.jpg) no-repeat 50% 50%;
}

.catalog-dropdown .tablets {
  background: url(/img/katalog-dropdown-tablets.jpg) no-repeat 50% 50%;
}

.catalog-dropdown .accses {
  background: url(/img/katalog-dropdown-accses.jpg) no-repeat 50% 50%;
}

.catalog-dropdown .ebooks {
  background: url(/img/katalog-dropdown-ebooks.jpg) no-repeat 60% 50%;
}

.catalog-dropdown .cases {
  background: url(/img/katalog-dropdown-cases.jpg) no-repeat 50% 50%;
}

.catalog-dropdown .psp {
  background: url(/img/katalog-dropdown-psp.jpg) no-repeat 50% 50%;
}

.catalog-dropdown .headphones {
  background: url(/img/katalog-dropdown-headphones.jpg) no-repeat 50% 50%;
}

.catalog-dropdown .accums {
  background: url(/img/katalog-dropdown-accums.jpg) no-repeat 50% 50%;
}

.grey-bg {
  background-color: #f2f2f2;
}

.subheader {
  padding: 20px 0;
}

.subheader .title, .subheader .back-button, .subheader .icon {
  display: inline-block;
  vertical-align: middle;
}

.subheader .title {
  font-family: Intro-Bold,Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  text-transform: uppercase;
}

.subheader .back-button {
  color: #999999;
  float: right;
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
}

.subheader .icon {
  margin-left: 10px;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  border: 1px solid #cccccc;
}

.subheader .back {
  background: url(/img/back-icon.png) no-repeat 50% 50%;
}

.subheader .clear {
  background: url(/img/cross-grey.png) no-repeat 50% 50%;
}

.subheader .social2 {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.breadcrumps {
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  margin: 25px auto;
}

.breadcrumps * {
  display: inline-block;
}

.breadcrumps a {
  color: #0099cc;
}

.breadcrumps .triangle-right {
  margin: 0 5px;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 4px solid #999999;
}

.breadcrumps .current-page {
  color: #999999;
}

.footer-wrapper {
  position: relative;
  box-shadow: 0px 3px 5px 0px #cccccc;
}

footer {
  padding-top: 60px;
  height: 350px;
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
}

footer div {
  display: inline-block;
  vertical-align: top;
  padding-right: 120px;
}

footer .col-4 {
  padding-right: 0;
}

footer a {
  display: block;
  margin-bottom: 10px;
}

footer * {
  color: #999999;
}

footer p {
  padding-bottom: 10px;
}

footer .bold {
  color: #333333;
  font-family: Intro-Bold,Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-bottom: 18px;
}

footer .dark {
  color: #333333;
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 0.9em;
}

footer .button-map {
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: #eeb044;
  background-image: url(../img/footer-map.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  line-height: 50px;
  padding-left: 35px;
  font-family: Intro-Bold,Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  box-shadow: 0px 2px 5px -2px #333333;
}

.social {
  background: url(../img/background.png);
  height: 130px;
}

.social .social-wrapper {
  margin: 0 auto;
  width: 380px;
}

.social a {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  color: white;
  font-family: Intro-Bold,Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  margin-top: 45px;
}

.social .fb {
  background-color: #075dde;
}

.social .vk {
  background-color: #1576b3;
  margin-left: 5px;
  margin-right: 5px;
}

.social .inst {
  font-size: 1.5em;
  background-color: #1799eb;
  font-family: MarcelleScript,Arial, Helvetica, sans-serif;
}

.blue-button {
  background: #0099cc;
  border: none;
  border-radius: 4em;
  color: white;
  font-family: Intro-Regular,Arial, Helvetica, sans-serif;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.catalog-side-menu {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px 0 #cccccc;
  border-radius: 5px;
  padding: 28px;
}

.catalog-side-menu a {
  display: block;
  color: #0099cc;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 1.15em;
  font-family: OpenSans-Regular,Arial, Helvetica, sans-serif;
}

.catalog-side-menu .dark {
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  font-size: 1.3em;
  font-family: Intro-Regular,Arial, Helvetica, sans-serif;
}

.social2 {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #cccccc;
}

.social2 a {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  padding: 5px 7px 5px 40px;
  border-radius: 50px;
  font-size: 11px;
  width: 66px;
  height: 23px;
  text-align: center;
  margin: 0 10px;
}

.social2 .tw {
  background-color: #4fc9f1;
  background-image: url(/img/soc2-tw.png), url(/img/soc2-arrow.png);
  background-position: 10px 50%, 50% 50%;
  background-repeat: no-repeat,no-repeat;
}

.social2 .fb {
  background-color: #075dde;
  background-image: url(/img/soc2-fb.png), url(/img/soc2-arrow.png);
  background-position: 14px 50%, 50% 50%;
  background-repeat: no-repeat,no-repeat;
}

.social2 .vk {
  background-color: #1576b3;
  background-image: url(/img/soc2-vk.png), url(/img/soc2-arrow.png);
  background-position: 14px 50%, 50% 50%;
  background-repeat: no-repeat,no-repeat;
}

.grey-bot {
  border-bottom: 2px solid #f2f2f2;
}

.grey-bot-shadow {
  box-shadow: 0 5px 5px -4px #cccccc;
}

video {
  width: 100%;
  cursor: pointer;
}

.small-grey {
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 0.9em;
  padding-bottom: 0;
}

.login .signin, .login .reg {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px 0 #cccccc;
}

.login .signin, .login .reg {
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
}

.login .signin form, .login .reg form {
  margin: 0 30px;
}

.login .signin input:not(.blue-button), .login .reg input:not(.blue-button) {
  border: none;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
}

.login .signin input, .login .reg input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
}

.login .signin .blue-button, .login .reg .blue-button {
  margin-top: 10px;
}

.login .signin h2, .login .reg h2 {
  text-align: center;
  font-family: Intro-Bold,Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.login .signin {
  width: 360px;
  margin: 0 20px;
}

.login .soc-signin, .login .desc {
  border-top: 1px solid #eee;
  margin-top: 25px;
}

.login .desc {
  width: 360px;
  padding: 55px 0;
}

.login .desc p {
  margin: 0 25px;
  font-size: 1.4em;
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
  color: #999999;
}

.login .soc-signin {
  padding-bottom: 25px;
}

.login .soc-signin p {
  font-size: 1.4em;
  font-family: Intro-Regular,Arial, Helvetica, sans-serif;
  margin: 15px 0;
}

.login .soc-signin .fb {
  background: url(../img/login-fb.png) no-repeat 50% 50%;
  border-radius: 100%;
  border: 1px solid #333333;
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 0 7.5px;
}

.login .soc-signin .vk {
  background: url(../img/login-vk.png) no-repeat 50% 50%;
  border-radius: 100%;
  border: 1px solid #333333;
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 0 7.5px;
}

.login .soc-signin .ok {
  background: url(../img/login-ok.png) no-repeat 50% 50%;
  border-radius: 100%;
  border: 1px solid #333333;
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 0 7.5px;
}

.login .soc-signin .tw {
  background: url(../img/login-tw.png) no-repeat 50% 50%;
  border-radius: 100%;
  border: 1px solid #333333;
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 0 7.5px;
}

.products form {
  box-shadow: 0 5px 7px -5px #cccccc;
}

.products form .item-wrapper {
  box-shadow: 0 0 5px 0px #cccccc;
  border-radius: 5px;
}

.products form .item-wrapper .item {
  padding: 25px 0;
}

.products form .item-wrapper .item:not(:first-child) {
  border-top: 1px solid #ddd;
}

.products form .item-wrapper .item > * {
  display: inline-block;
  vertical-align: middle;
}

.products form .item-wrapper img {
  padding-left: 30px;
}

.products form .item-wrapper .price, .products form .item-wrapper .total-price, .products form .item-wrapper .name {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
}

.products form .item-wrapper .price .bold, .products form .item-wrapper .total-price .bold, .products form .item-wrapper .name .bold {
  color: #333333;
  font-size: 1.35em;
}

.products form .item-wrapper .desc, .products form .item-wrapper .price, .products form .item-wrapper
.total-price {
  padding: 0 35px;
}

.products form .item-wrapper .quanity {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 75px;
  background: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 0 12.75%;
}

.products form .item-wrapper .quanity * {
  display: inline-block;
  line-height: 40px;
}

.products form .item-wrapper .quanity .value {
  background: white;
  border-radius: 5px;
  margin: 1px;
  padding: 0 15px;
}

.products form .item-wrapper .quanity .dec, .products form .item-wrapper .quanity .inc {
  cursor: pointer;
}

.products form .total {
  padding: 45px;
}

.products form .total > * {
  display: inline-block;
  vertical-align: middle;
}

.products form .total .update {
  text-transform: uppercase;
  background: url(../img/cart-update.png) no-repeat 0% 50%;
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding-left: 35px;
  min-height: 22px;
  line-height: 22px;
}

.products form .total .blue-button {
  margin: 0 25%;
}

.products form .total .final-price {
  float: right;
}

.products form .total .final-price .bold {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.9em;
}

.products .reccomend {
  padding: 70px 0;
  border-bottom: 1px solid #cccccc;
}

.products .reccomend h2 {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.9em;
  text-align: center;
}

.products .reccomend .item {
  margin: 80px 25px 0;
  display: inline-block;
  text-align: center;
}

.products .reccomend .item * {
  display: block;
}

.products .reccomend .item p {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.products .reccomend .item .price {
  margin-top: 15px;
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}

.content {
  display: inline-block;
  width: 62%;
  margin-left: 70px;
}

.content h2 {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}

.content h2 + p {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.content > img {
  margin: 40px 0;
}

.content p {
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.content p a {
  color: #0099cc;
}

.content p a:hover {
  text-decoration: underline;
}

.content h3 {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-top: 50px;
}

.content video {
  margin: 40px 0;
}

.content .quote {
  text-align: center;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
  margin: 75px 0 60px;
}

.content .quote .author {
  background: white;
  position: relative;
  top: -15px;
  width: 200px;
  margin: auto;
}

.content .quote .author .name {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.content .quote .author .company {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #cccccc;
}

.content .quote p {
  font-family: OpenSans-Italic, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 45px;
}

.content .social2 {
  margin-top: 45px;
  margin-bottom: 90px;
}

.cabinet {
  padding-bottom: 50px;
}

.cabinet .order-list {
  display: inline-block;
  width: 74%;
  margin-left: 20px;
}

.cabinet .order-list .order {
  box-shadow: 0 0 5px 0 #cccccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 0;
}

.cabinet .order-list .order > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 45px;
}

.cabinet .order-list .order .small-grey {
  margin-bottom: 8px;
}

.cabinet .order-list .order .number a {
  text-decoration: underline;
  color: #0099cc;
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.cabinet .order-list .order .bold {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #333333;
}

.cabinet .order-list .all-orders {
  color: #333333;
  font-family: OpenSans-Regular,Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 20px;
  display: block;
}

.recent {
  text-align: center;
}

.recent h2 {
  color: #333333;
  font-size: 24px;
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  margin: 65px auto 85px;
}

.recent .item {
  display: inline-block;
}

.recent .price {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.product .main-info {
  max-width: 340px;
  box-shadow: 0 0 5px 0 #cccccc;
}

.product .main-info > div {
  padding: 20px;
}

.product .main-info > div:not(:first-child) {
  border-top: 1px solid #f2f2f2;
}

.product .main-info .bold {
  font-size: 24px;
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
}

.product .main-info .row > div {
  display: inline-block;
  vertical-align: middle;
}

.product .main-info .cart-button {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #0099cc;
  background-image: url(../img/product-cart.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  padding-left: 50px;
  float: right;
}

.product .main-info .title {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.product .main-info .color-pick {
  float: right;
}

.product .main-info .color-pick > li {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.product .main-info .color-pick .active {
  box-shadow: inset 0 0 0 3px #0099cc;
}

.product .main-info .color-pick .color-1 {
  background: #b1b2b7;
}

.product .main-info .color-pick .color-2 {
  background: #e1e1e1;
}

.product .main-info .color-pick .color-3 {
  background: #f4dca8;
}

.product .main-info .row ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.product .main-info .row ul li {
  display: inline-block;
  cursor: pointer;
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #999999;
  margin-right: 10px;
}

.product .main-info .row ul .active {
  color: #0099cc;
}

.product .share {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  text-transform: uppercase;
  margin: 60px 0 15px;
}

.product .social2 a:first-child {
  margin-left: 0px;
}

.product .menu {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #333333;
  margin-top: 90px;
  padding-bottom: 20px;
}

.product .menu > a {
  display: inline-block;
  position: relative;
  padding: 0 16px;
}

.product .menu .review-amount {
  position: absolute;
  top: -6px;
  right: 0;
  color: #999999;
  font-size: 12px;
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
}

.product .menu .active {
  color: #0099cc;
  text-decoration: underline;
}

.product .desc {
  padding: 70px 0;
}

.product .desc .text {
  display: inline-block;
  width: 44%;
}

.product .desc h2 {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}

.product .desc p {
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.product .desc .media {
  float: right;
  display: inline-block;
  width: 44%;
}

.product .desc .media img {
  height: 290px;
  width: 49%;
}

.product .chars .row {
  padding: 25px 0 25px;
  border-bottom: 2px solid #f2f2f2;
}

.product .chars .row > div {
  display: inline-block;
  vertical-align: top;
}

.product .chars .title {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 24%;
}

.product .chars .col {
  width: 74%;
}

.product .chars .item {
  width: 27%;
  display: inline-block;
  vertical-align: top;
  font-family: OpenSans-regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.product .chars .item .sub-title {
  color: #999999;
  padding-bottom: 15px;
}

.product .acces {
  text-align: center;
  padding: 80px 0;
}

.product .acces > div {
  display: inline-block;
  margin: 0 25px;
}

.product .acces p {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
}

.product .acces .price {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
}

.product .reviews .item {
  padding: 45px 125px 45px 125px;
  min-height: 100px;
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #f2f2f2;
}

.product .reviews .item .name {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.product .reviews .item .date {
  color: #999999;
  font-size: 12px;
}

.product .reviews .item .body {
  font-size: 13px;
  padding-top: 10px;
}

.product .reviews .positive {
  background: url(../img/review-pos.png) no-repeat 5px 50%;
}

.product .reviews .negative {
  background: url(../img/review-neg.png) no-repeat 5px 50%;
}

.product .reviews .neutral {
  background: url(../img/review-neutr.png) no-repeat 5px 50%;
}

.product .add-review {
  padding: 60px 0;
}

.product .add-review form {
  width: 83%;
  margin: 0 auto;
}

.product .add-review form *:focus {
  outline: none;
}

.product .add-review .col-1, .product .add-review .col-2 {
  display: inline-block;
  vertical-align: bottom;
}

.product .add-review .col-1 > *, .product .add-review .col-2 > * {
  display: block;
}

.product .add-review .col-1 {
  width: 75%;
}

.product .add-review .col-1 label:first-child {
  font-family: Intro-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.product .add-review .col-1 label {
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.product .add-review #review-body, .product .add-review #review-name {
  background: #f9f9f9;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0 #cccccc;
}

.product .add-review #review-name {
  height: 35px;
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.product .add-review #review-body {
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
  margin: 20px 0;
  box-sizing: border-box;
}

.product .add-review .col-2 {
  margin-left: 25px;
}

.product .add-review .col-2 .radio {
  margin-bottom: 115%;
  font-family: Intro-Book, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.product .add-review .col-2 .blue-button {
  font-family: Intro-Bold, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  height: 37px;
  padding: 0 15px;
}

.product .add-review .col-2 label {
  margin-bottom: 15px;
  display: inline-block;
}

.product .add-review .col-2 #review-positive + label {
  color: #39c678;
}

.product .add-review .col-2 #review-negative + label {
  color: #df3d5f;
}

.product .add-review .col-2 #review-neutral + label {
  color: #8b8b8b;
}
