!!!
%html
  %head
    %meta{charset:"utf-8"}
    %title
      Личный кабинет
    %script{src:'js/jquery-2.1.4.min.js'}
    %script{src:'js/script.js'}
    
    %link{rel:'stylesheet',href:'style/style.css'}
  %body
    .headder-wrapper
      %header.container
        %nav
          %a{href:'/main.html'} Главная
          %a#catalog-dropdown Каталог
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        %a.logo{href:'/main.html'}
        .search-user-cart-block
          %a.search{href:'#'}
          %a.user{href:'#'}
          %a.cart{href:'/cart.html'}
            %span.amount 
              2
            %span.total-price
              45000 
              .rub
    .catalog-dropdown-wrapper
      .catalog-dropdown.container
        %a.smarts{href:'#'} Смартфоны
        %a.tablets{href:'#'} Планшеты
        %a.accses{href:'#'} Аксессуары
        %a.ebooks{href:'#'} Электронные книги
        %a.cases{href:'#'} Чехлы
        %a.psp{href:'#'} PSP
        %a.headphones{href:'#'} Наушники
        %a.accums{href:'#'} Зарядные устройства
    .subheader.grey-bg
      .container
        %h1.title Личный кабинет
        %a.back-button{href:'#'} 
          Очистить корзину
          %span.icon.clear
    .breadcrumps.container
      %a{href:'/main.html'} Главная
      .triangle-right
      .current-page Личный кабинет
    .cabinet.container.grey-bot-shadow
      .catalog-side-menu.grey-bg
        %a.dark{href:'/catalog.html'} Заказы
        %a{href:'#'} Бонусы 
        %a{href:'#'} Корзина 
        %a{href:'#'} Личные сообщения 
        %a{href:'#'} Лист желаний
      .order-list
        .order
          %div
            %img.status{src:'img/status-ok.png',title:'Ok'}
          .number
            .small-grey Заказ №
            %a{href:'#'} 18367094
          .date
            .small-grey Дата
            .bold 12. 02. 2014
          .price
            .small-grey Стоимость
            .bold 
              59 990
              .rub
        .order
          %div
            %img.status{src:'img/status-pending.png',title:'Ожидает отправки'}
          .number
            .small-grey Заказ №
            %a{href:'#'} 18367094
          .date
            .small-grey Дата
            .bold 12.02.2014
          .price
            .small-grey Стоимость
            .bold 
              59 990
              .rub
        .order
          %div
            %img.status{src:'img/status-shipped.png',title:'В пути'}
          .number
            .small-grey Заказ №
            %a{href:'#'} 18367094
          .date
            .small-grey Дата
            .bold 12. 02. 2014
          .price
            .small-grey Стоимость
            .bold 
              59 990
              .rub
        %a.all-orders{href:'#'} ВСЕ ЗАКАЗЫ
    .recent.container
      %h2 НЕДАВНО ПРОСМОТРЕННЫЕ ТОВАРЫ
      .carousel
        -(1..4).each do
          %a.item{href:'#'}
            %img{src:'img/cart-recom.jpg'}
            .price 
              345
              .rub
    .footer-wrapper
      %footer.container
        .col-1
          %p
            © Коммуникатор, 2015 г.
          %p
            Все права защищены.
          %p.dark
            разработка сайта
          %img{src: 'img/footer-logo.png'}
        .col-2
          %a.bold{href:'/catalog.html'} Каталог
          %a{href:'#'} Смартфоны 
          %a{href:'#'} Планшеты 
          %a{href:'#'} Аксессуары 
          %a{href:'#'} Электронные книги 
          %a{href:'#'} Чехлы
          %a{href:'#'} Наушники
          %a{href:'#'} PSP
          %a{href:'#'} Зарядные устройства
        .col-3
          %a.bold{href:'#'} О компании
          %a{href:'#'} Почему мы
          %a{href:'#'} Оплата 
          %a{href:'#'} Достака
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        .col-4
          %p.bold
            8 (800) 29 19 099 
          %p
            Россия, г. Владивосток,
          %p
            ул. Пограничная 12, офис 34
          %a.button-map{href:'#'}
            Карта проезда
    .social
      .social-wrapper
        %a.fb{href:'#'}
          facebook
        %a.vk{href:'#'}
          вконтакте
        %a.inst{href:'#'}
          Instagram