.search-amount,.sort{
  display: inline-block;
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: middle;
  float: right;
}
.search-amount{
  color: $grey9;
  padding-right: 20px;
  border-right: 1px solid $light-grey;
  margin-right: 20px;
  margin-top: 10px;
}
.sort{
  *{
    display: inline-block;
    vertical-align: middle;
  }
  p{
    font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
  }
}
.sort-dropdown-wrapper{
  width: 150px;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}
.sort-button,.sort-dropdown{
  clear: both;
}
.sort-button{
  position: relative;
  cursor: pointer;
  background: white;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 $grey9;
  padding: 10px 0 10px 15px;
  z-index: 1000;
  box-sizing: border-box;
  .text, .triangle-down{
    display: inline-block;
    vertical-align: baseline;
  }
  .triangle-down{
    border-top: 5px solid $grey9;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 10px;
    top: 17px;
  }
}
.sort-dropdown{
  display: none;
  position: absolute;
  background: $f2;
  box-shadow: 0 0 5px 0 $grey9;
  width: 100%;
  top:15px;
  left: 0;
  border-radius: 3px;
  padding: 30px 0 5px 10px;
  box-sizing:border-box;
  z-index: 0;
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $grey9;
  .active{
    display: none;
  }
  div{
    margin: 5px 0;
    cursor: pointer;
  }
}