!!!
%html
  %head
    %meta{charset:"utf-8"}
    %title
      Главная
    %link{rel:'sylesheet',href:"../slick/slick-theme.css"}
    %link{rel:'sylesheet',href:"../slick/slick.css"}
    %link{rel:'stylesheet',href:'style/style.css'}

  %body
    .headder-wrapper
      %header.container
        %nav
          %a{href:'/main.html'} Главная
          %a#catalog-dropdown Каталог
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        %a.logo{href:'/main.html'}
        .search-user-cart-block
          %a.search{href:'#'}
          %a.user{href:'#'}
          %a.cart{href:'/cart.html'}
            %span.amount 
              2
            %span.total-price
              45000 
              %span.rub
    .catalog-dropdown-wrapper
      .catalog-dropdown.container
        %a.smarts{href:'#'} Смартфоны
        %a.tablets{href:'#'} Планшеты
        %a.accses{href:'#'} Аксессуары
        %a.ebooks{href:'#'} Электронные книги
        %a.cases{href:'#'} Чехлы
        %a.psp{href:'#'} PSP
        %a.headphones{href:'#'} Наушники
        %a.accums{href:'#'} Зарядные устройства
    .subheader.grey-bg
      .container
        %h1.title Вход/регистрация
        .social2.container
          ПОДЕЛИТЬСЯ:
          %a.tw{href:'#'} 13
          %a.fb{href:'#'} 435
          %a.vk{href:'#'} 120
    .breadcrumps.container
      %a{href:'/main.html'} Главная
      .triangle-right
      .current-page Вход/Регистрация
    .container.grey-bot
      .catalog-side-menu.grey-bg
        %a.dark{href:'/catalog.html'} Каталог
        %a{href:'#'} Смартфоны 
        %a{href:'#'} Планшеты 
        %a{href:'#'} Аксессуары 
        %a{href:'#'} Электронные книги 
        %a{href:'#'} Игры и гаджеты
        %a{href:'#'} Чехлы
      .content
        %h2 Больше. Во всех проявлениях.
        %p iPhone 6 не просто больше. Он лучше во всех отношениях. Больше, но при этом значительно тоньше. Мощнее, но при этом исключительно экономичный. iPhone улучшенныйе во всём.
        %img{src:'img/content-1.jpg'}
        %p 
          Едва начав пользоваться 
          %a{href:'#'}iPhone 6s
          , вы сразу почувствуете, насколько всё изменилось. Технология 3D Touch открывает потрясающие новые возможности — достаточно одного нажатия. А функция Live Photos позволяет буквально оживить ваши воспоминания. И это только начало. Присмотритесь к iPhone 6s внимательнее, и вы увидите инновации на всех уровнях.
        %h3 Новое поколение Multi-Touch.
        %video{src:'/video/content.mp4',controls:''}
        %p
          С появлением iPhone мир узнал о технологии Multi-Touch, которая навсегда изменила способ взаимодействия с устройствами. Технология 3D Touch открывает совершенно новые возможности. Она позволяет различать силу нажатия на дисплей, что делает многие функции быстрее и удобнее. Кроме того, телефон реагирует на каждый жест лёгким тактильным откликом благодаря использованию нового привода Taptic Engine.
        %h3 2-мегапиксельные фотографии. Видео 4К. Live Photos. На долгую память.
        .carousel
          %img{src:'http://www.publicdomainpictures.net/pictures/40000/nahled/tree-and-storm-2.jpg'}
          %img{src:'http://www.publicdomainpictures.net/pictures/30000/nahled/sunset-in-harbor.jpg'}
          %img{src:'http://www.publicdomainpictures.net/pictures/10000/nahled/irish-atlantic-coast-64951288172474n8Bz.jpg'}
        %p
          Мы расширили возможности самой популярной в мире камеры. 12-мегапиксельная камера iSight делает чёткие и детальные снимки, а также позволяет снимать потрясающие видео 4K с разрешением почти в четыре раза больше, чем в HD-видео 1080p. А 5-мегапиксельная HD-камера FaceTime позволяет делать отличные селфи. Кроме того, теперь у вас есть возможность снимать Live Photos, на которых буквально оживают самые дорогие воспоминания. Эта функция записывает несколько мгновений до и после съёмки фотографии, что позволяет посмотреть её в движении, сделав одно нажатие.
        .quote
          .author
            .name 
              ТИМ КУК
            .company
              ГЛАВА КОМПАНИИ
          %p
            Обычная фотография фиксирует момент. А с технологией Live Photos эти моменты оживают, вызывая в памяти дорогие вам воспоминания. За основу Live Photo берётся 12-﻿мегапиксельный снимок. До и после него также записывается несколько секунд с движением и звуком.
        %p
          Победа в соревнованиях. Импровизированная вечеринка с танцами. Первая поездка на двухколёсном велосипеде. Такие события просто невозможно не снять на видео. Но теперь это можно делать с разрешением, которое в четыре раза превосходит разрешение HD-видео. Восемь миллионов пикселей — достаточно для того, чтобы увеличивать изображение до мельчайших деталей прямо во время съёмки или при просмотре видео 4К. Кроме того, на iPhone 6s Plus оптическая стабилизация изображения используется не только для фотографий, но и для видео. Это значит, что видео будет чётким, а цвета яркими даже при низкой освещённости.
        .social2.container
          ПОДЕЛИТЬСЯ:
          %a.tw{href:'#'} 13
          %a.fb{href:'#'} 435
          %a.vk{href:'#'} 120
    .footer-wrapper
      %footer.container
        .col-1
          %p
            © Коммуникатор, 2015 г.
          %p
            Все права защищены.
          %p.dark
            разработка сайта
          %img{src: '/img/footer-logo.png'}
        .col-2
          %a.bold{href:'/catalog.html'} Каталог
          %a{href:'#'} Смартфоны 
          %a{href:'#'} Планшеты 
          %a{href:'#'} Аксессуары 
          %a{href:'#'} Электронные книги 
          %a{href:'#'} Чехлы
          %a{href:'#'} Наушники
          %a{href:'#'} PSP
          %a{href:'#'} Зарядные устройства
        .col-3
          %a.bold{href:'#'} О компании
          %a{href:'#'} Почему мы
          %a{href:'#'} Оплата 
          %a{href:'#'} Достака
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        .col-4
          %p.bold
            8 (800) 29 19 099 
          %p
            Россия, г. Владивосток,
          %p
            ул. Пограничная 12, офис 34
          %a.button-map{href:'#'}
            Карта проезда
    .social
      .social-wrapper
        %a.fb{href:'#'}
          facebook
        %a.vk{href:'#'}
          вконтакте
        %a.inst{href:'#'}
          Instagram
    %script{src:'js/jquery-2.1.4.min.js'}
    %script{src:'js/dropdowns.js'}