.product{
  .main-info{
    max-width: 340px;
    box-shadow: 0 0 5px 0 $light-grey;
    &>div{
      padding: 20px;
    }
    &>div:not(:first-child){
      border-top: 1px solid $f2;
    }
    .bold{
      font-size: 24px;
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
    }
    .row>div{
      display: inline-block;
      vertical-align: middle;
    }
    .cart-button{
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
      font-size: 16px;
      background: #0099cc;
      background-image: url(../img/product-cart.png); 
      background-repeat:no-repeat; 
      background-position: 20px 50%;
      padding-left: 50px;
      float: right;
    }
    .title{
      font-family: Intro-Regular, Arial, Helvetica, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
    }
    .color-pick{
      float: right;
      &>li{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
      }
      .active{
        box-shadow: inset 0 0 0 3px $blue;
      }
      .color-1{
        background: #b1b2b7;
      }
      .color-2{
        background: #e1e1e1;
      }
      .color-3{
        background: #f4dca8;
      }
    }
    .row ul{
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      float: right;
      li{
        display: inline-block;
        cursor: pointer;
        font-family: Intro-Regular, Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: $grey9;
        margin-right: 10px;
      }
      .active{
        color: $blue;
      }
    }
  }
  .share{
    font-family: Intro-Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $grey;
    text-transform: uppercase;
    margin: 60px 0 15px;
  }
  .social2 a:first-child{
    margin-left: 0px;
  }
  .menu{
    font-family: Intro-Book, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $grey;
    margin-top: 90px;
    padding-bottom: 20px;
    &>a{
      display: inline-block;
      position: relative;
      padding: 0 16px;
    }
    .review-amount{
      position: absolute;
      top:-6px;
      right: 0;
      color: $grey9;
      font-size: 12px;
      font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
    }
    .active{
      color: $blue;
      text-decoration: underline;
    }
  }
  .desc{
    padding: 70px 0;
    .text{
      display: inline-block;
      width: 44%;
    }
    h2{
      font-family: Intro-Book, Arial, Helvetica, sans-serif;
      font-size: 26px;
      margin-bottom: 30px;
    }
    p{
      font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
      font-size: 16px;
      margin-bottom: 30px;
    }
    .media{
      float: right;
      display: inline-block;
      width: 44%;
      img{
        height: 290px;
        width: 49%;
      }
    }
  }
  .chars{
    .row{
      padding: 25px 0 25px;
      border-bottom: 2px solid $f2;
    }
    .row>div{
      display: inline-block;
      vertical-align: top;      
    }
    .title{
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
      font-size: 16px;
      width: 24%;
    }
    .col{
      width: 74%
    }
    .item{
      width: 27%;
      display: inline-block;
      vertical-align: top;
      font-family: OpenSans-regular, Arial, Helvetica, sans-serif;
      font-size: 16px;
      padding-bottom: 40px;
      padding-right: 40px;
      .sub-title{
        color: $grey9;
        padding-bottom: 15px;
      }
    }
  }
  .acces{
    text-align: center;
    padding: 80px 0;
    &>div{
      display: inline-block;
      margin: 0 25px;
    }
    p{
      font-family: Intro-Book, Arial, Helvetica, sans-serif;
    }
    .price{
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
    }
  }
  .reviews{
    .item{
      padding: 45px 125px 45px 125px;
      min-height: 100px;
      font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
      border-bottom: 2px solid $f2;
      .name{
        font-family: Intro-Regular, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
      .date{
        color: $grey9;
        font-size: 12px;
      }
      .body{
        font-size: 13px;
        padding-top: 10px;
      }
    }
    .positive{
      background: url(../img/review-pos.png) no-repeat 5px 50%;
    }
    .negative{
      background: url(../img/review-neg.png) no-repeat 5px 50%;
    }
    .neutral{
      background: url(../img/review-neutr.png) no-repeat 5px 50%;
    }
  }
  .add-review{
    padding: 60px 0;
    form{
      width: 83%;
      margin: 0 auto;
      *{
          &:focus{
          outline:none;
        }
      }
    }
    .col-1,.col-2{
      display: inline-block;
      vertical-align: bottom;
      &>*{
        display: block;
      }
    }
    .col-1{
      width: 75%;
    }
    .col-1 label:first-child{
      font-family: Intro-Regular, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
    .col-1 label{
      font-family: Intro-Book, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
    #review-body,#review-name{
      background: #f9f9f9;
      border:none;
      border-radius: 5px;
      box-shadow: inset 0 0 5px 0 $light-grey;
    }
    #review-name{
      height: 35px;
      width: 100%;
      padding-left: 10px;
      margin-top: 10px;
      box-sizing:border-box;
    }
    #review-body{
      width: 100%;
      height: 200px;
      padding: 10px;
      resize: none;
      margin: 20px 0;
      box-sizing:border-box;
    }
    .col-2{
      margin-left: 25px;
      .radio{
        margin-bottom: 115%;
        font-family: Intro-Book, Arial, Helvetica, sans-serif;
        font-size: 14px
      }
      .blue-button{
        font-family: Intro-Bold, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        height: 37px;
        padding: 0 15px;
      }
      label{
        margin-bottom: 15px;
        display: inline-block;
      }
      #review-positive+label{
        color: #39c678;
      }
      #review-negative+label{
        color: #df3d5f;
      }
      #review-neutral+label{
        color: #8b8b8b;
      }
    }
  }
}