.product{
  .main-info{
    max-width: 340px;
    box-shadow: 0 0 5px 0 $light-grey;
    &>div{
      padding: 20px;
    }
    &>div:not(:first-child){
      border-top: 1px solid $f2;
    }
    .bold{
      font-size: 24px;
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
    }
    .row>div{
      display: inline-block;
      vertical-align: middle;
    }
    .cart-button{
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
      font-size: 16px;
      background: #0099cc;
      background-image: url(../img/product-cart.png); 
      background-repeat:no-repeat; 
      background-position: 20px 50%;
      padding-left: 50px;
      float: right;
    }
    .title{
      font-family: Intro-Regular, Arial, Helvetica, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
    }
    .color-pick{
      float: right;
      &>li{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
      }
      .active{
        box-shadow: inset 0 0 0 3px $blue;
      }
      .color-1{
        background: #b1b2b7;
      }
      .color-2{
        background: #e1e1e1;
      }
      .color-3{
        background: #f4dca8;
      }
    }
    .row ul{
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      float: right;
      li{
        display: inline-block;
        cursor: pointer;
        font-family: Intro-Regular, Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: $grey9;
        margin-right: 10px;
      }
      .active{
        color: $blue;
      }
    }
  }
  .share{
    font-family: Intro-Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $grey;
    text-transform: uppercase;
    margin: 60px 0 15px;
  }
  .social2 a:first-child{
    margin-left: 0px;
  }
  .menu{
    font-family: Intro-Book, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $grey;
    margin-top: 90px;
    padding-bottom: 20px;
    &>a{
      display: inline-block;
      position: relative;
      padding: 0 16px;
    }
    .review-amount{
      position: absolute;
      top:-6px;
      right: 0;
      color: $grey9;
      font-size: 12px;
      font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
    }
    .active{
      color: $blue;
      text-decoration: underline;
    }
  }
  .desc{
    padding: 70px 0;
    .text{
      display: inline-block;
      width: 44%;
    }
    h2{
      font-family: Intro-Book, Arial, Helvetica, sans-serif;
      font-size: 26px;
      margin-bottom: 30px;
    }
    p{
      font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
      font-size: 16px;
      margin-bottom: 30px;
    }
    .media{
      float: right;
      display: inline-block;
      width: 44%;
      img{
        height: 290px;
        width: 49%;
      }
    }
  }

  .reccomend{
    text-align: center;
    padding: 80px 0;
    &>div{
      display: inline-block;
      margin: 0 25px;
    }
    p{
      font-family: Intro-Book, Arial, Helvetica, sans-serif;
    }
    .price{
      font-family: Intro-Bold, Arial, Helvetica, sans-serif;
    }
  }
}