!!!
%html
  %head
    %meta{charset:"utf-8"}
    %title
      Apple iPhone 6, space gray
    %script{src:'js/jquery-2.1.4.min.js'}
    %script{src:'js/jquery.zoom.min.js'}
    %script{src:'js/script.js'}
    %link{rel:'stylesheet',href:'style/bxslider.css'}   
    %link{rel:'stylesheet',href:'style/style.css'}
  %body
    .headder-wrapper
      %header.container
        %nav
          %a{href:'/main.html'} Главная
          %a#catalog-dropdown Каталог
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        %a.logo{href:'/main.html'}
        .search-user-cart-block
          %a.search{href:'#'}
          %a.user{href:'#'}
          %a.cart{href:'/cart.html'}
            %span.amount 
              2
            %span.total-price
              45000 
              .rub
    .catalog-dropdown-wrapper
      .catalog-dropdown.container
        %a.smarts{href:'#'} Смартфоны
        %a.tablets{href:'#'} Планшеты
        %a.accses{href:'#'} Аксессуары
        %a.ebooks{href:'#'} Электронные книги
        %a.cases{href:'#'} Чехлы
        %a.psp{href:'#'} PSP
        %a.headphones{href:'#'} Наушники
        %a.accums{href:'#'} Зарядные устройства
    .subheader.grey-bg
      .container
        %h1.title Apple iPhone 6, space gray
        %a.back-button{href:'#'} 
          Назад
          %span.icon.back
    
    .product.container
      .col
        .breadcrumps.container
          %a{href:'/main.html'} Главная
          .triangle-right
          %a{href:'#'} Смартфоны
          .triangle-right
          .current-page Apple iPhone 6, space gray
        .main-info
          .row
            .price
              .bold
                49 990
                .rub
              .small-grey
                Артикул 122933
            .cart-button.blue-button
              в корзину
          .row
            .title Цвет
            %ul.color-pick
              %li.color-1.active
              %li.color-2
              %li.color-3
          .row
            .title память
            %ul.pick
              %li.active 16
              %li 32
              %li 64
              %li 128
          .row
            .title размер экрана
            %ul.pick
              %li 4.4
              %li.active 5.5
        .share Поделиться
        .social2 
          %a.tw{href:'#'} 13
          %a.fb{href:'#'} 435
          %a.vk{href:'#'} 666
      .col.col-2
        .preview
          .zoom
            %img{width:'450px',height:'450px',src:'https://macster-production.s3.amazonaws.com/uploads/image/file/11561/iphone-6-white-2-2.jpg'}
          .pager
            .slide
              %img{width:'100px',height:'100px',src:"https://macster-production.s3.amazonaws.com/uploads/image/file/11561/iphone-6-white-2-2.jpg"}
            .slide
              %img{width:'100px',height:'100px',src:"http://o.aolcdn.com/hss/storage/midas/8cab7a7f04d8f71ed0c30c04f1e086ee/200767095/iPhone_6_family-10-630.jpg"}
            .slide
              %img{width:'100px',height:'100px',src:"http://www.ipeople.in.ua/files/uploads/_apple-iphone-6-e1410789464630-1940x1090.png"}
            .slide
              %img{width:'100px',height:'100px',src:"http://oxu.azstatic.com/uploads/W1siZiIsIjIwMTUvMDgvMjEvMTUvMTYvMjYvNTgzL0lwaG9uZTZGaWxlXzE0MTAzODExMjc3NDRfNzkzMjkyMl92ZXIxLjBfNjQwXzQ4MC5qcGciXV0?sha=973eae19"}
            .slide
              %img{width:'100px',height:'100px',src:"http://blog.blinds-2go.co.uk/wp-content/uploads/Seaside-Style-Theme.jpg"}
            .slide
              %img{width:'100px',height:'100px',src:"https://i.ytimg.com/vi/4CUvF95pmxY/maxresdefault.jpg"}
      .menu.grey-bot-shadow
        %a.active{href:'#'} Описание        
        %a{href:'#'} Технические характеристики
        %a{href:'#'} Аксессуары
        %a{href:'#'} 
          Отзывы
          .review-amount 24
        %a{href:'#'} Оплата и доставка
      .desc.grey-bot
        .text
          %h2 Больше. Во всех проявлениях.
          %p
            iPhone 6 не просто больше. Он лучше во всех отношениях. Больше, но при этом значительно тоньше. Мощнее, но при этом исключительно экономичный. Его гладкая металлическая поверхность плавно переходит в стекло нового HD-﻿дисплея Retina, образуя цельный, законченный дизайн. Его аппаратная часть идеально работает с программным обеспечением. Это новое поколение iPhone, улучшенное во всём.
          %p
            Новый процессор A8 с 64-разрядной архитектурой уровня настольного компьютера обеспечивает больше мощности, даже несмотря на то, что передаёт изображение на экран большего размера. Высокоэффективный сопроцессор движения M8 получает данные с современных датчиков и нового барометра.
        .media
          %img{src:'img/product-img-1.jpg'}
          %img{src:'img/product-img-2.jpg'}
          %video{poster:'img/product-video.jpg',src:'video/content.mp4', width:'580px',height:'220px'}
      .chars
        .row
          .title Общие параметры
          .col
            .item
              .sub-title Тип
              Смартфон
            .item
              .sub-title Модель
              Apple iPhone 6
            .item
              .sub-title Цвет
              Space gray
        .row
          .title Мобильная связь
          .col
            .item
              .sub-title Поддержка сетей 2G
              EDGE, GSM 1800, GSM 1900, GSM 850, GSM 900
            .item
              .sub-title Поддержка сетей 3G
              DC-HSDPA, HSPA+, UMTS 1900, UMTS 2100, UMTS 850, UMTS 900, WCDMA 1700, WCDMA 1900, WCDMA 2100, WCDMA 800
            .item
              .sub-title Поддержка сетей 4G
              LTE
            .item
              .sub-title Формат SIM-карт
              Nano-SIM (12,3x8,8x0,67 мм)
            .item
              .sub-title Поддержка двух SIM карт
              Нет
            .item
              .sub-title Поддержка трех SIM-карт
              Нет
        .row
          .title Экран
          .col
            .item
              .sub-title Вид сенсорного экрана
              емкостный
            .item
              .sub-title Диагональ экрана
              4,7”
            .item
              .sub-title Разрешение экрана
              1334x750
            .item
              .sub-title Технология изготовления экрана
              IPS
            .item
              .sub-title Количество цветов экрана
              16.77 млн
            .item
              .sub-title Защитное покрытие экрана
              есть
        .row
          .title Система
          .col
            .item
              .sub-title Операционная система
              iOS
            .item
              .sub-title Модель процессора
              Apple A8
            .item
              .sub-title Количество ядер
              2
            .item
              .sub-title Частота работы процессора
              1400 МГц
            .item
              .sub-title Графический ускоритель
              PowerVR GX6650
            .item
              .sub-title Объем оперативной памяти
              1024 Мб
            .item
              .sub-title Объем встроенной памяти
              16 Gb
            .item
              .sub-title Слот для карты памяти
              Нет
            .item
              .sub-title Датчики
              G-сенсор (гироскоп), барометр, датчик отпечатков пальцев, компас, освещенности
            .item
              .sub-title Особенности аппаратной составляющей
              64-разрядная архитектура, сопроцессор движения M8
            .item
              .sub-title FM радио
              Нет
      .acces.grey-bot
        -(1..4).each do
          .item
            %img{src:'img/cart-recom.jpg'}
            %p 
              Док-станция iPhone 
              %br 3G/3GS/4 CD112
            .price 
              345
              .rub
      .reviews
        .item.positive
          .name Гриорий
          .date 22 декабря 2014 г. 00:15
          .body
            Купил 6 на 128, цена была уже 53 тыс. Не жалею ни сколечко. Аппарат бомба, из друзей многие ярые борцы за андроид попробовав пересели на яблоко наглухо и всем членам своих семей понабрали. . . Хаят те кто не имел.
        .item.negative
          .name Mama Luba
          .date 22 декабря 2014 г. 00:15
          .body            
            Други! 
            Трижды подумайте перед покупкой!
            В магазине тел выдают в заводской упаковке. На проверке не настаивал, а зря. Хотя...
            Итак.
            Дома сразу обнаружился брак - люфт стекла. Глазом не видно, а тактильно очень заметно, так что даже при проверке в магазине мог бы и не заметить.
            Отнес в сервис. Замена по гарантии. Через 2 недели пришел новый тел на замену - и опять брак (!).
            Жду уже третью неделю.
            Юзаю технику от Apple уже давно, и такой лажи от Купертино ну никак не ожидал...
            Видимо, в дальнейшем придется присматриваться к новомодным навороченным китайцам..
        .item.neutral
          .name Прохожий
          .date 22 декабря 2014 г. 00:15
          .body
            Ничего против эйпл не имею, но для прикола ради сравните айфон 6 с сасунгом с3 
            проц такой же, камера такая же, только фронталка у самунга лучше, оперативка у самсунга тоже в плюсе.
      .add-review.grey-bot
        %form
          .col-1
            %label Добавить отзыв
            %textarea#review-body{type:'text'}
            %label Ваше имя
            %input#review-name
          .col-2
            .radio
              %input#review-positive{type:'radio',name:'review'}
              %label{for:'review-positive'}Положительный
              %br
              %input#review-negative{type:'radio',name:'review'}
              %label{for:'review-negative'}Отрицательный
              %br
              %input#review-neutral{type:'radio',name:'review'}
              %label{for:'review-neutral'}Нейтральный
            %input.blue-button{type:'submit',value: 'Добавить'}
    .footer-wrapper
      %footer.container
        .col-1
          %p
            © Коммуникатор, 2015 г.
          %p
            Все права защищены.
          %p.dark
            разработка сайта
          %img{src: 'img/footer-logo.png'}
        .col-2
          %a.bold{href:'/catalog.html'} Каталог
          %a{href:'#'} Смартфоны 
          %a{href:'#'} Планшеты 
          %a{href:'#'} Аксессуары 
          %a{href:'#'} Электронные книги 
          %a{href:'#'} Чехлы
          %a{href:'#'} Наушники
          %a{href:'#'} PSP
          %a{href:'#'} Зарядные устройства
        .col-3
          %a.bold{href:'#'} О компании
          %a{href:'#'} Почему мы
          %a{href:'#'} Оплата 
          %a{href:'#'} Достака
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        .col-4
          %p.bold
            8 (800) 29 19 099 
          %p
            Россия, г. Владивосток,
          %p
            ул. Пограничная 12, офис 34
          %a.button-map{href:'#'}
            Карта проезда
    .social
      .social-wrapper
        %a.fb{href:'#'}
          facebook
        %a.vk{href:'#'}
          вконтакте
        %a.inst{href:'#'}
          Instagram
    %script{src:'jquery.bxslider/jquery.bxslider.min.js'}
    :javascript
      $(document).ready(function(){
        $('.zoom').zoom();
        $('.pager').bxSlider({
          mode: 'vertical',
          minSlides: 4,
          maxSlides: 4,
          pager:false,
          moveSlides: 1,
          slideMargin: 5
        });
      });