$grey: #333333;
$light-grey: #cccccc;
$grey9: #999999;
$f2: #f2f2f2;
$orange: #eeb044;
$blue:#0099cc;

@font-face{
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
  font-family: Intro-Regular;
  src: url(../fonts/Intro-Regular.ttf);
}
@font-face{
  font-family: Intro-Book;
  src: url(../fonts/Intro-Book.ttf);
}
@font-face{
  font-family: Intro-Bold;
  src: url(../fonts/Intro-Bold.ttf);
}
@font-face{
  font-family: MarcelleScript;
  src: url(../fonts/MarcelleScript.ttf);
}
@font-face{
  font-family: rub;
  src: url(../fonts/RUBSN.otf);
}

$other: Arial, Helvetica, sans-serif;


html *{
  margin: 0;
}
body{
  font-size: 10pt;
  color: $grey;
}
.container{
  max-width: 1000px;
  margin: auto;
}
a{
  color: $grey;
  text-decoration: none;
}

.rub{
  font-family: rub, Arial, Helvetica, sans-serif;
  display: inline-block !important;
  &:before{
    content: 'Ы'
  }
}

//HEADER
.headder-wrapper{
  position: relative;
  box-shadow: 0px 1px 5px 0px $light-grey;
}
header{
  padding: 25px 140px;
}
nav{
  display: inline-block;

  a{
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 10px;
    font-family: Intro-Regular,Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    &:first-child{
      padding-left: 0px;
    }
    &:last-child{
      padding-right: 0px;
    }
  }
}
.logo{
  display: inline-block;
  width: 235px;
  height: 37px;
  margin: 0px 7.75%;
  background: url(/img/header-logo.png) no-repeat 50% 100%;
  vertical-align: middle;
}

.search-user-cart-block{
  display: inline-block;
  a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid $light-grey;
    border-radius: 40px;
    font-family: OpenSans-Bold,Arial, Helvetica, sans-serif;
  }
  .search{
    display: inline-block;
    background: url(/img/header-search.png) no-repeat 50%;
  }
  .user{
    display: inline-block;
    background: url(/img/header-user.png) no-repeat 50%;
  }
  .cart{
    display: inline-block;
    width: auto;
    background: url(/img/header-cart.png) no-repeat 20px 50%;
    padding-left: 40px;
    text-decoration: none;
    .amount,.total-price{
      font-size: 1.2em;
    }
    .amount{
      margin: 0 10px;
      padding: 0 15px;
      line-height: 40px;
      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;
    }
    .total-price{
      padding-right: 15px;
    }
  }
}

//dropdown header
#catalog-dropdown{
  cursor: pointer;
}
.catalog-dropdown-wrapper{
  display: none;
  position: absolute;
  box-shadow: 0px 1px 5px 0px $light-grey;
  z-index: 100;
  background: white;
  width: 100%;
}
.catalog-dropdown{
  overflow: hidden;
  a{
    font-family: Intro-Book,Arial, Helvetica, sans-serif;
    width: 240px;
    height: 210px;
    display: inline-block;
    text-align: center;
    line-height: 350px;
    vertical-align: bottom;
    font-size: 1.1em;
    box-shadow: 5px 0px 5px -3px $light-grey;
    margin-top: -5px;
  }
  .smarts{
    background: url(/img/katalog-dropdown-smarts.jpg) no-repeat 50% 50%;
  }
  .tablets{
    background: url(/img/katalog-dropdown-tablets.jpg) no-repeat 50% 50%;
  }
  .accses{
    background: url(/img/katalog-dropdown-accses.jpg) no-repeat 50% 50%;
  }
  .ebooks{
    background: url(/img/katalog-dropdown-ebooks.jpg) no-repeat 60% 50%;
  }
  .cases{
    background: url(/img/katalog-dropdown-cases.jpg) no-repeat 50% 50%;
  }
  .psp{
    background: url(/img/katalog-dropdown-psp.jpg) no-repeat 50% 50%;
  }
  .headphones{
    background: url(/img/katalog-dropdown-headphones.jpg) no-repeat 50% 50%;
  }
  .accums{
    background: url(/img/katalog-dropdown-accums.jpg) no-repeat 50% 50%;
  }
}

//subheader
.grey-bg{
  background-color: rgb(242, 242, 242);
}
.subheader
{
  padding: 25px 0;
  .title,.back-button,.icon{
    display: inline-block;
    vertical-align: middle;
  }
  .title{
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    text-transform: uppercase;
  }
  .back-button{
    color: $grey9;
    float: right;
    font-family: Intro-Book,Arial, Helvetica, sans-serif;
  }
  .icon{
    margin-left: 10px;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    border: 1px solid $light-grey;
  }
  .back{
    background: url(/img/back-icon.png) no-repeat 50% 50%;
  }
  .clear{
    background: url(/img/cross-grey.png) no-repeat 50% 50%;
  }
  
}
//breadcrumps
.breadcrumps{
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  margin: 25px auto;
  *{
    display: inline-block;
  }
  a{
    color: $blue;
  }
  .triangle-right{
    margin: 0 5px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    border-left: 4px solid $grey9;
  }
  .current-page{
    color: $grey9;
  }
}
//FOOTER
.footer-wrapper{
  position: relative;
  box-shadow: 0px 3px 5px 0px $light-grey;
}
footer{
  padding-top: 60px;
  height: 350px;
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
  div{
    display: inline-block;
    vertical-align: top;
    padding-right: 120px;
  }
  .col-4{
    padding-right: 0;
  }
  a{
    display: block;
    margin-bottom: 10px;
  }
  *{
    color: $grey9;
  }
  p{
    padding-bottom: 10px;
  }
  .bold{
    color: $grey;
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 18px;
  }
  .dark{
    color: $grey;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 0.9em;
  }
  .button-map{
    box-sizing: border-box;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: $orange;
    background-image: url(../img/footer-map.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    line-height: 50px;
    padding-left: 35px;
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: 0px 2px 5px -2px $grey;
  }
}

//social
.social{
  background: url(../img/background.png);
  height: 130px;
  .social-wrapper{
    margin: 0 auto;
    width: 380px;
  }
  a{
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: white;
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    margin-top: 45px;
  }
  .fb{
    background-color: #075dde;
  }
  .vk{
    background-color: #1576b3;
    margin-left:5px;
    margin-right:5px;
  }
  .inst{
    font-size: 1.5em;
    background-color: #1799eb;
    font-family: MarcelleScript,Arial, Helvetica, sans-serif;
  }
}

//login
.blue-button{
  background: $blue;
  border:none;
  border-radius: 4em;
  color: white;
  font-family: Intro-Regular,Arial, Helvetica, sans-serif;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}
.login{
  .catalog-list-login,.signin,.reg{
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 5px 0 $light-grey;
  }
  .catalog-list-login{
    border-radius: 5px;
    padding: 28px;
    a{
      display: block;
      color: $blue;
      text-decoration: underline;
      margin-bottom: 15px;
      font-size: 1.15em;
      font-family: OpenSans-Regular,Arial, Helvetica, sans-serif;
    }
    .dark{
      text-transform: uppercase;
      color: $grey;
      text-decoration: none;
      font-size: 1.3em;
      font-family: Intro-Regular,Arial, Helvetica, sans-serif;
    }
  }
  .signin,.reg{
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
    form{
      margin: 0 30px;
    }
    input:not(.blue-button){
      border: none;
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 5px;
    }
    input{
      width: 100%;
      box-sizing: border-box;
      font-size: 1.1em;
    }
    .blue-button{
      margin-top: 10px;
    }
    h2{
      text-align: center;
      font-family: Intro-Bold,Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .signin{
    width: 360px;
    margin: 0 20px;
  }
  .soc-signin,.desc{
    border-top: 1px solid #eee;
    margin-top: 25px;
  }
  .desc{
    width: 360px;
    padding: 55px 0;
    p{
      margin: 0 25px;
      font-size: 1.4em;
      font-family: Intro-Book,Arial, Helvetica, sans-serif;
      color: $grey9
    }
  }
  .soc-signin{
    padding-bottom: 25px;
    p{
      font-size: 1.4em;
      font-family: Intro-Regular,Arial, Helvetica, sans-serif;
      margin: 15px 0;
    }
    .fb{
      background: url(../img/login-fb.png) no-repeat 50% 50%;
      border-radius: 100%;
      border:1px solid $grey;
      width: 37px;
      height: 37px;
      display: inline-block;
      margin: 0 7.5px;
    }
    .vk{
      background: url(../img/login-vk.png) no-repeat 50% 50%;
      border-radius: 100%;
      border:1px solid $grey;
      width: 37px;
      height: 37px;
      display: inline-block;
      margin: 0 7.5px;
    }
    .ok{
      background: url(../img/login-ok.png) no-repeat 50% 50%;
      border-radius: 100%;
      border:1px solid $grey;
      width: 37px;
      height: 37px;
      display: inline-block;
      margin: 0 7.5px;
    }
    .tw{
      background: url(../img/login-tw.png) no-repeat 50% 50%;
      border-radius: 100%;
      border:1px solid $grey;
      width: 37px;
      height: 37px;
      display: inline-block;
      margin: 0 7.5px;
    }
  }
}

//cart
.products{
  form{
    box-shadow: 0 5px 7px -5px $light-grey;
    .item-wrapper{
      box-shadow: 0 0 5px 0px $light-grey;
      border-radius: 5px;
      .item{
        padding: 25px 0;
      }
      .item:not(:first-child){
        border-top: 1px solid #ddd;
      }
      .item>*{
        display: inline-block;
        vertical-align: middle;
      }
      img{
        padding-left: 30px;
      }
      .price,.total-price,.name{
        font-family: Intro-Regular, $other;
        .bold{
          color: $grey;
          font-size: 1.35em;
        }
      }
      .desc,.price,.total-price
      {
        padding: 0 35px;
      }
      .quanity{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 75px;
        background: $f2;
        border-radius: 5px;
        text-align: center;
        font-family: Intro-Bold, $other;
        font-size: 1.2em;
        margin: 0 12.75%;
        *{
          display: inline-block;
          line-height: 40px;
        }
        .value{
          background: white;
          border-radius: 5px;
          margin: 1px;
          padding: 0 15px;
        }
        .dec,.inc{
          cursor: pointer;
        }
      }      
    }
    .small-grey{
      font-family: OpenSans-Regular, $other;
      color: $grey9;
      font-size: 0.9em;
      padding-bottom: 0;
    }
    .total{
    padding: 45px;
    &>*{
      display: inline-block;
      vertical-align: middle;
    }
    .update{
      text-transform: uppercase;
      background: url(../img/cart-update.png) no-repeat 0% 50%;
      font-family: Intro-Regular, $other;
      font-size: 0.9em;
      padding-left: 35px;
      min-height: 22px;
      line-height: 22px;
    }
    .blue-button{
      margin: 0 25%;
    }
    .final-price{
      float: right;
      .bold{
        font-family: Intro-Bold, $other;
        font-size: 1.9em;
      }
    }
  }
  }
  
  .reccomend{
    padding: 70px 0;
    border-bottom: 1px solid $light-grey;
    h2{
      font-family: Intro-Bold, $other;
      font-size: 1.9em;
      text-align: center;
    }
    .item{
      margin: 80px 25px 0;
      display: inline-block;
      text-align: center;
      *{
        display: block;
      }
      p{
        font-family: Intro-Book, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
      }
      .price{
        margin-top: 15px;
        font-family: Intro-Bold, Arial, Helvetica, sans-serif;
        font-size: 1.4em;
      }
    }

  }
}