$grey: #333333;
$light-grey: #cccccc;
$grey9: #999999;
$orange: #eeb044;

@font-face{
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
  font-family: Intro-Regular;
  src: url(../fonts/Intro-Regular.ttf);
}
@font-face{
  font-family: Intro-Book;
  src: url(../fonts/Intro-Book.ttf);
}
@font-face{
  font-family: Intro-Bold;
  src: url(../fonts/Intro-Bold.ttf);
}
@font-face{
  font-family: MarcelleScript;
  src: url(../fonts/MarcelleScript.ttf);
}


*{
  font-size: 10pt;
  color: $grey;
  margin: 0;
}
.container{
  width: 1000px;
  margin: auto;
}
a{
  text-decoration: none;
}

//HEADER
.headder-wrapper{
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11);
}
header{
  padding: 25px 140px;
}
nav{
  display: inline-block;

  a{
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 10px;
    font-family: Intro-Regular,Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    &:first-child{
      padding-left: 0px;
    }
    &:last-child{
      padding-right: 0px;
    }
  }
}
.logo{
  display: inline-block;
  width: 235px;
  height: 37px;
  margin: 0px 70px;
  background: url(/img/header-logo.png) no-repeat 50% 100%;
  vertical-align: middle;
}
.search-user-cart-block{
  display: inline-block;
  float: right;
  a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid $light-grey;
    border-radius: 40px;
    font-family: OpenSans-Bold,Arial, Helvetica, sans-serif;
  }
  .search{
    display: inline-block;
    background: url(/img/header-search.png) no-repeat 50%;
  }
  .user{
    display: inline-block;
    background: url(/img/header-user.png) no-repeat 50%;
  }
  .cart{
    display: inline-block;
    width: auto;
    background: url(/img/header-cart.png) no-repeat 20px 50%;
    padding-left: 40px;
    text-decoration: none;
    .amount,.total-price{
      font-size: 1.2em;
    }
    .amount{
      margin: 0 10px;
      padding: 0 15px;
      line-height: 40px;
      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;
    }
    .total-price{
      padding-right: 15px;
    }
  }
}

//FOOTER
.footer-wrapper{
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11);
}
footer{
  padding-top: 60px;
  height: 350px;
  font-family: Intro-Book,Arial, Helvetica, sans-serif;
  div{
    display: inline-block;
    vertical-align: top;
    padding-right: 120px;
  }
  .col-4{
    padding-right: 0;
  }
  a{
    display: block;
    margin-bottom: 10px;
  }
  *{
    color: $grey9;
  }
  p{
    padding-bottom: 10px;
  }
  .bold{
    color: $grey;
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 18px;
  }
  .dark{
    color: $grey;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .button-map{
    box-sizing: border-box;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: $orange;
    background-image: url(../img/footer-map.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    line-height: 50px;
    padding-left: 35px;
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: 0px 2px 5px -2px $grey;
  }
}

//social
.social{
  background: url(../img/background.png);
  height: 130px;
  .social-wrapper{
    margin: 0 auto;
    width: 380px;
  }
  a{
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: white;
    font-family: Intro-Bold,Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    margin-top: 45px;
  }
  .fb{
    background-color: #075dde;
  }
  .vk{
    background-color: #1576b3;
    margin-left:5px;
    margin-right:5px;
  }
  .inst{
    font-size: 1.5em;
    background-color: #1799eb;
    font-family: MarcelleScript,Arial, Helvetica, sans-serif;
  }
}